/*
colors used:
primary color (black): hsl(246, 100%, 6%);
secondary color (blue): hsl(246, 100%, 65%);
*/

html {
    font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  color: hsl(246, 100%, 6%);
  background-color: hsl(206, 24%, 94%);
}

h1, h2, h3, h4 {
    line-height: 1.2;
    margin: 0;
    font-family: "space grotesk", serif;
}

h1, .h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2, .h2 {
    font-size: 3.2rem;
    font-weight: 700;
}

h3, .h3 {
    font-size: 2.6rem;
    font-weight: 400;
}

h4, .h4 {
    font-size: 2rem;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: hsl(246, 100%, 65%);
    transition: all 0.3s ease-in-out;
}

a:visited {
    color: hsl(246, 100%, 65%);
}

a:hover,
a:focus {
    color: hsl(246, 100%, 75%);
}

a:active {
    color: hsl(246, 100%, 55%);
}

.button {
    background: hsl(246, 100%, 65%);
    border: 3px solid hsl(246, 100%, 65%);
    color: hsl(206, 24%, 94%);
    padding-block: 0.75em;
    padding-inline: 1.5em;
    display: inline-block;
    text-decoration: none;
}

.button:visited {
    color: hsl(206, 24%, 94%);
}

.button:hover,
.button:focus {
    background: hsl(246, 100%, 75%);
    border: 3px solid hsl(246, 100%, 75%);
    color: hsl(206, 24%, 94%);
}

.button:active {
    background: hsl(246, 100%, 55%);
    border: 3px solid hsl(246, 100%, 55%);
    color: hsl(206, 24%, 94%);
}

.button-outline {
    border: 3px solid hsl(246, 100%, 65%);
    color: hsl(246, 100%, 65%);
    padding-block: 0.75em;
    padding-inline: 1.5em;
    display: inline-block;
    text-decoration: none;
}

.button-outline:visited {
    border: 3px solid hsl(246, 100%, 65%);
    color: hsl(246, 100%, 65%);
}

.button-outline:hover,
.button-outline:focus{
    border: 3px solid hsl(246, 100%, 75%);
    background: hsl(246, 100%, 75%);
    color: hsl(206, 24%, 94%);
}

.button-outline:active {
    border: 3px solid hsl(246, 100%, 55%);
    background: hsl(246, 100%, 55%);
    color: hsl(206, 24%, 94%);
}


/*Header Styling*/

header {
    background-color:  hsl(206, 24%, 94%);
    padding-block: 10px;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

header .container {
    justify-content: center;
    align-items: center;
    gap: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: hsl(246, 100%, 65%);
}

nav a:visited {
    color: hsl(246, 100%, 65%);
}

nav a:hover,
nav a:focus {
    color: hsl(246, 100%, 75%);
}

nav a:active {
    color: hsl(246, 100%, 55%);
}


.logo {
    text-decoration: none;
    color: hsl(246, 100%, 6%) !important;
    font-weight: 700;
    font-family: "Space Grotesk", serif;
    font-size: 2rem;
}


/*Footer Styling*/

footer {
    background-color:hsl(246, 60%, 40%);
    color: 	hsl(0, 0%, 100%);
    padding-block: 4rem 2rem;
    text-align: center;
}

footer a {
    color: 	hsl(0, 0%, 100%);
}

footer a:visited {
    color: hsl(0, 0%, 100%);
}

footer a:hover,
footer a:focus {
    color: 	hsl(248, 73%, 95%);
}

footer a:active {
    color:	hsl(248, 73%, 75%);
}

.social {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.social svg {
    width: 4rem;
}


/*layout styling*/

.container {
    padding: 0 15px;
    display:flex;
    flex-direction: column;
}

.row {
    
}

main {
    padding-block-start: 77.39px;
}

section {
    padding-block: 4rem 2rem;
}

section:last-child {
    padding-block-end: 4rem;
}

/*Hero Styling*/

#hero h1 {
    text-align: left;
}

#hero h1 span {
    display:block;
    font-size: 75%;
    margin-block-start: 0.5em;
}

#projects .container,
#my-story .container,
#project-contents .container  {
    gap: 2em;
}



.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.60em 0 hsla(246, 100%, 65%, 0.2);
    border-radius: 16px;
    overflow:hidden;
    gap:1em;
}

.card__media-wrapper {
    order:-1;
}

.card__content-wrapper {
    padding: 0 1em 1em;
}

.profile-image {
    height: 400px;
    object-fit: cover;
    /* aspect-ratio: 1 / 1; */
    /* border-radius: 100vw; */
    object-position: 0 10%;
}

.profile__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.profile__content-wrapper .column,
.skills {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.no-margin-top {
    margin-block-start: 0;
}

.list-wrapper ul {
    margin-block: 0;
}


.card__media-wrapper {
    position:relative;

}

.custom-matchpoint {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../img/home/matchpoint-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.media-bg {
    position:absolute;
    inset: 0;
    z-index: 0;
}

.media-mockup {
    z-index: 5;
    margin-block-start: 80px;
    max-width: 150px;
    margin-inline-start: 13rem;
}

.media-heading {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
}

.media-heading img:first-child {
    width: 70%; 
}

.media-icons {
    position: absolute;
    top: 30%;
    /* transform: translateY(50%); */
    left: 20px;
    width: 100%;
    max-width: 40px;
    z-index: 8;
}

.media-list {
    position:absolute;
    top: 50%;
    transform: translateY(50%);
    left: 20px;
    z-index: 8;
}

.media-list ul {
    padding: 0;
    list-style-type: none;
    font-family: "poppins";
    font-size: 1.1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}



@keyframes tower-colour-change {
    from {fill: red;}
    to {fill: blue;}
}

.clock-tower {
    animation: 4s tower-colour-change infinite alternate linear;
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}

.lower-cloud {
    animation: 15s cloud-move infinite alternate linear;
}


/*Medium devices (481px or larger)*/
@media only screen and (min-width: 481px) {

    .media-icons {
        top: 30%;
        transform: translateY(50%);
        left: unset;
        right: 20px;
    }
    
    .media-list {
        top: 35%;
    }

    .media-mockup {
        margin-block-start: 70px;
        max-width: 150px;
        margin-inline-start: 0rem;
    }

}


/*Medium devices (640px or larger)*/
@media only screen and (min-width: 640px) {
    header .container {
        flex-direction: row;
        justify-content: space-between;
    }
    
    header {
        padding-block: 20px;
    }

    main {
        padding-block-start: 63px;
    }

    .container {
        padding: 0 30px;
    }

    #my-story .container {
        flex-direction: row;
    }

    .profile__media-wrapper {
        width: 40%;
    }

    .profile__content-wrapper {
        width:60%;
    }

    .profile-image {
        position: -webkit-sticky;
        position: sticky;
        top: 10rem;
    }

    .media-mockup {
        margin-block-start: 90px;
        max-width: 210px;
        margin-inline-start: 0;
        z-index: 5;
    }
    
    .media-heading {
        z-index: 4;
    }
    
    .media-heading img:first-child {
        width: 60%; 
    }
    
    .media-icons {
        top: 30%;
        transform: translateY(50%); 
        right: 20px;
        left: unset;

    }
    
    .media-list {
        position:absolute;
        top: 30%;
        transform: translateY(50%);
        left: 20px;
        z-index: 8;
    }
    
    .media-list ul {
        padding: 0;
        list-style-type: none;
        font-family: "poppins";
        font-size: 1.1rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 0.6em;
    }
}



/*Large devices (1024px or larger)*/
@media only screen and (min-width: 1024px) {
    .card {
        flex-direction: row;
    }

    .card__content-wrapper {
        width: 40%;
        padding: 3rem;
    }

    .card__media-wrapper {
        width: 60%;
    }

    .media-mockup{
        margin-block-start: 74px;
        max-width: 200px;
    }

    #hero h1 {
        text-align: center;
    }

    #hero .container {
        align-items: center;
    }

    .container {
        max-width: 1100px;
        margin-inline: auto;
        
    }

    .profile-image {
        height: 600px;
    }
}

/*X-Large devices (1440px or larger)*/
@media only screen and (min-width: 1440px) {
    
}
